[2015-09-08 12:53] alesch opened #2 "Unable to reach momentumdash.com?"
Hi and thank you for this repo.

I am having troubles getting it to run.
- I'm running the dev-server
- I have loaded the unpacked extension
- I see the new tool button

but I get this stack trace on the console:

[code]

Thank you!

[2015-09-08 17:48] jhen0409 commented on #2
Hi,
I don't understand your problem. Make sure you are open DevTools in this extension page?

[2015-09-16 09:32] #2 closed

[2015-11-10 13:59] jhen0409 opened #8 "Roadmap"
- [ ] Upgrade Babel to 6
- [ ] Upgrade React/Redux
  - [ ] React 0.14
  - [ ] Redux 3 & Redux DevTools
  - [ ] Use [redux-devtools-extension](https://github.com/zalmoxisus/redux-devtools-extension)
- [ ] Use [css-modules](https://github.com/css-modules/css-modules)
  - [ ] Rewrite todomvc-app-css
  - [ ] inject page show todomvc example
- [ ] Use [crx](https://github.com/oncletom/crx) to pack Chro

[2015-11-16 11:50] zalmoxisus opened #10 "Remove __DEVELOPMENT__ constant"
Are any reasons of using webpack `__DEVELOPMENT__` constant while we have `process.env.NODE_ENV`? Doesn't uglify remove dead code in the latter case?

[2015-11-17 12:49] jhen0409 commented on #10
Thanks! but I think the `process.env.NODE_ENV` is unsuitable, because chrome extension isn’t node. :|

I would use `__DEVTOOLS__` and` __DEVTOOLS_EXT__` to use `redux-devtools` and `redux-devtools-extension` in the future.

[2015-11-17 13:39] zalmoxisus commented on #10
Yes, it is fair, but about using together `__DEVELOPMENT__` and `process.env.NODE_ENV` meaning the same could be confusing. The pro for the latter is that our submodules (including react and redux) already use it.

Like we already may set `process.env.HOT` in the `react-transform-hmr`, we can use `process.env.DEVTOOLS`. But of course it's a matter of taste :)

[2015-11-17 13:39] #10 closed

[2015-11-22 16:43] apreg opened #13 "ERR_TOO_MANY_REDIRECTS"
I get ERR_TOO_MANY_REDIRECTS after navigating to https://localhost:3000

[2015-11-22 18:16] apreg opened #14 "Problems on Windows"
To make build command run under Windows I had to modify package.json like this:

[code]
same for the other:
[code]

[2015-11-22 19:36] apreg commented on #13
Maybe contentBase should point to './dev' in gulpfile?

[2015-11-22 21:00] jhen0409 commented on #14
Hey @apreg. I moved babel development config to webpack dev config, Indirectly solved this problem. :)

Also, I added AppVeyor build to Roadmap, we hoping to take into account Windows developers.

[2015-11-22 21:00] #14 closed

[2015-11-23 06:14] apreg commented on #13
Ok, It was my bad. If I add it as extension everything works fine. The fix I suggested makes it possible to load it directly but who wants to use it that way, right :)
Sorry, I'm just getting familiar with chrome app development.
So you can close this task.

[2015-11-23 06:15] apreg commented on #14
Thank you for your hard work.

[2015-11-30 12:37] #13 closed

[2015-12-08 18:45] jforaker opened #16 "Readme: unclear how to run in development"
Please provide more information on how to run the project in development:

[code]

In particular, what does "load unpacked extensions with `./dev`" mean?

How to run it without running the whole `npm run compress` and manually installing it via dragging it to `chrome://extensions/`?

[2015-12-08 19:06] jhen0409 commented on #16
Refer: https://github.com/jhen0409/react-chrome-extension-boilerplate#development
1. The `injectpage`is need `https` protocol on development mode, but we not have SSL certificate.
2. It discussed in the (https://github.com/zalmoxisus/browser-redux/issues/5). (Maybe we can change to that solution)

Also, [this getstarted](https://developer.chrome.com/extensions/getstarted#unpacked) can help you, I'

[2015-12-09 10:11] zalmoxisus commented on #16
The con of that solution is that you'll still get warnings in the console, which could be annoying. I tried to make Webpack to work on both https and http. The idea was to use automatically the protocol corresponding to the injected page, but didn't figure how to get hmr to work on both protocols.

[2015-12-12 13:19] jhen0409 opened #19 "Change injectpage to localhost page & GitHub page"
The original `injectpage` is detect visiting GitHub and start, it will cause some problems, so I have plan to move it to the `localhost` and [GitHub page](http://jhen0409.github.io/react-chrome-extension-boilerplate).

I has three reasons:
~~1. The `injectpage` include redux-devtools, it will affect developers read on GitHub.~~
~~2. The `webpack-dev-server` will no longer use https.~~
~~3. The `in

[2015-12-18 08:35] zalmoxisus opened #20 "Unsupported manifest property in latest Chrome Canary 49"
The [icons.scalable](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/manifest.prod.json#L14) property is not supported in latest Canary, and as a result the extension fail to install. I do not see [any alternatives](https://developer.chrome.com/apps/manifest/icons) as to remove it.

BTW, @jhen0409, what do you think if we'll test (on Travis or AppVeyor) in Canary

[2015-12-19 18:13] jhen0409 commented on #20
Hey @zalmoxisus, thanks report, I will fix it. :D

Also, test Canary on Travis/AppVeyor is good idea, but It seems none provided Linux version?

[2015-12-20 08:41] zalmoxisus commented on #20
I didn't know Canary isn't available for Linux, but hopefully we have Windows on AppVeyor, and there's no reason to test it also on Travis. I guess we have to install Canary using [Chocolatey, Web Platform Installer (Web PI) or PowerShell](http://www.appveyor.com/docs/build-configuration#installing-additional-software), and then add an additional test with [new Chrome path](http://stackoverflow.co

[2016-01-06 17:50] jhen0409 commented on #20
@zalmoxisus do you can find offline installer of official? or we can use `ChromeSetup.exe` to install directly by `msiexec`?

[2016-01-07 10:26] zalmoxisus commented on #20
I think `ChromeSetup.exe` will not work, but I found [an offline installer](https://code.google.com/p/chromium/issues/detail?id=503076#c20), which seems to work. But I'm not sure AppVeyor offers a way to install it only once, otherwise the tests would be too slow to download a 45 MB file and install chrome every time.

[2016-01-09 16:02] jhen0409 opened #21 "Simplify boilerplate"
1. Just use npm scripts instead of gulp
  * `webpack`, `webpack-dev-server`, `eslint`, `mocha`, `crx` use CLI tool instead.
  * Move `replace-webpack-code` to webapck config, it's sync code of purely.
  * Don't use `jade`, just use `chrome/*.html`, `dist/*.html`.
  * No `manifest.{env}.json`, just use `chrome/manifest.json`, `dist/manifest.json`.
2. Remove `redux-devtools` monitor dependencies, an

[2016-01-10 05:50] wiber opened #22 "syncronize across tabs with localstorage"
Hi,

Updating the popup doesn't persist to localstore or propagate to other windows where the extension is running. How would I rerender all reacts when localstore changes?

I'm looking to persist state to localstorage in a way similar to these:

https://github.com/STRML/react-localstorage
http://stackoverflow.com/questions/21741754/react-js-syncing-entire-state-to-localstorage

I can then fire ch

[2016-01-10 05:57] wiber commented on #22
If I understand redux (and do correct me if I'm wrong) persisting the actions to localstorage and applying them both from there and from the ui is the way to go? Or catching them up when window becomes active.

[2016-01-10 09:07] zalmoxisus commented on #22
Yes, you are right, you have to persist redux states. Use [`redux-persist`](https://github.com/rt2zz/redux-persist) for that. To get it work with `chrome.storage` instead of `window.localStorage`, use [`chrome-storage-local`](https://github.com/zalmoxisus/chrome-storage-local). An example of configuration can be found [here](https://github.com/zalmoxisus/browser-redux/blob/master/src/app/store/get

[2016-01-11 17:55] wiber commented on #22
Thanks @zalmoxisus , that looks good.

[2016-01-30 14:05] FezVrasta opened #23 "MINIMAL boilerplate?"
Is there a way to download a MINIMAL boilerplate without all the stuff you put inside it?

I'd just like to have the basic configuration without have to delete ton of files and try to make it work...

[2016-01-31 15:53] jhen0409 commented on #23
Hey @FezVrasta, the current boilerplate is indeed complex... :\

I will simplify it (#21) in the next few days, then npm package will change to a CLI tool, you can choose an existing features (Window, Popup, Inject page) to configure.

[2016-02-04 16:50] jhen0409 opened #25 "Add npm scripts: Load unpack extension with chrome-launch"

[2016-02-16 15:13] phrozen755 opened #28 "Memory runs out on installation"
[code]

[2016-03-29 15:36] incleaf opened #31 "Need to update the package.json"
Here's the error log that occurred while running `npm install`

[code]

[2016-03-29 15:43] incleaf commented on #31
I was using npm 2.x and this problem not occurred after upgrade npm to 3.8.3

[2016-03-29 15:43] #31 closed

[2016-03-29 22:57] #22 closed

[2016-03-30 00:28] jhen0409 commented on #31
I upgraded dependencies [just now](https://github.com/jhen0409/react-chrome-extension-boilerplate/pull/32), it should worked fine in npm2.

[2016-03-30 00:31] jhen0409 commented on #28
Use `git clone` start this project, and npm package will has other plans.

[2016-03-30 00:31] #28 closed

[2016-04-11 14:02] oswaldoacauan commented on #21
any news on this?

[2016-04-11 14:14] oswaldoacauan opened #33 "Fail to run npm run dev"
When i tried to run `npm run dev` this is the output.

**terminal output**
[code]

**npm-debug.log**
[code]

[2016-04-11 14:52] jhen0409 commented on #33
Currently we used node@^4 compatible syntax on `scripts`, `webpack` js files, please update node version.

[2016-04-11 14:54] oswaldoacauan commented on #33
My bad, nvm deceived me :p

[2016-04-11 14:54] #33 closed

[2016-04-13 13:19] kenyeung128 commented on #16
Hi, you could get the warning removed by this new flag in chrome.

1. go to the url: chrome://flags/#allow-insecure-localhost
2. click "enable" and restart chrome.

[2016-04-16 13:59] tommedema commented on #19
I've changed the injectpage to use http on my fork, but this causes issues when you try to inject on all URLs, no matter the protocol.

I think the best solution is to run webpack-dev-server on HTTP, and then have a HTTPS proxy (SSL termination), such that both protocols work.

[2016-04-16 15:30] tommedema opened #34 "jslint: Arrow function used ambiguously with a conditional expression"
Since `npm run lint` is one of the commands of this boilerplate, it would be a good idea to deal with all jslint errors. I'm having issues resolving this:

[code]

The relevant code is:

[code]

It seems as though jslint doesn't like arrow functions with a conditional expression. I've tried other ways, such as a traditional function, but these resulted in other jslint errors.

[2016-04-16 16:01] jhen0409 commented on #19
@tommedema I tried using [`httpolyglot`](https://github.com/mscdex/httpolyglot) and `webpack-dev(hot)-middleware` to create server, it works very well. Maybe I'll release it today.

[2016-04-16 16:24] jhen0409 commented on #34
Hey Tom, thank you for report! It looks related to [this](https://github.com/airbnb/javascript/commit/5ded256d3fab29b7b3fa42238093b9af632fb32b), it enabled [`no-confusing-arrow`](http://eslint.org/docs/rules/no-confusing-arrow), and it released by `eslint-config-airbnb@6.2.0`.

I'll fix these with:
[code]

[2016-04-17 02:28] #34 closed

[2016-04-17 07:40] tommedema opened #35 "TravisCI fails"
I'm using the [.travis.yml](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/.travis.yml) file from master, and enabled the repo at travis-ci.com.

The Travis build fails, not having changed the boilerplate.

The error is:
[code]

See the [full log file here](https://gist.github.com/tommedema/8130e2752282c5e3cf4a2546035abc82).

[2016-04-17 09:14] tommedema commented on #19
@jhen0409 would be great if you could; I spend another 4 hours on it today and I cannot get it all to work. Sometimes HTTP works, sometimes HTTPS, sometimes both, but then not WSS (but only WS, or the other way around).

[2016-04-17 09:55] jhen0409 commented on #35
It seems related to [this comment](https://github.com/travis-ci/apt-source-whitelist/pull/257#issuecomment-207425280), and `google-chrome-stable` also fails now.

[2016-04-17 10:03] gauntface commented on #35
You can upgrade your VM from Ubuntu 12.04 to 14.04 by following info here: https://docs.travis-ci.com/user/trusty-ci-environment/

This fixed the issue on my Travis builds.

[2016-04-17 10:31] tommedema commented on #35
Using trusty also works for me.

[2016-04-18 17:15] jhen0409 commented on #35
Close via #36.

[2016-04-18 17:15] #35 closed

[2016-04-19 06:13] tommedema commented on #19
@jhen0409 does it also work for websockets?

[2016-04-29 14:22] tommedema commented on #19
@jhen0409 any news on this?

[2016-05-02 23:37] jhen0409 commented on #19
@tommedema, I created [webpack-httpolyglot-server](https://github.com/jhen0409/webpack-httpolyglot-server) and created [this branch](https://github.com/jhen0409/react-chrome-extension-boilerplate/tree/webpack-httpolyglot) for that, you can try first.

Also, the `webpack-hot-middleware` isn't use Websockets, it just use Server Sent Events.

[2016-05-05 15:45] jhen0409 commented on #19
Finally we use `webpack-httpolyglot-server` #37, so this issue will not do.

[2016-05-05 15:45] #19 closed

[2016-05-06 18:07] jhen0409 opened #39 "Remove `babel-preset-es2015`"
* This boilerplate is only for Chrome Extension, so we can just following ES2015 compatible syntax of Google Chrome.
* The Webpack@2 is supported ES2015 import/export transform, we can remove `babel-preset-es2015` in Webpack build.

#### Waiting

- [ ] Webpack@2 stable released
- [ ] UglifyJS2 supported ES2015 syntax ([harmony branch](https://github.com/mishoo/UglifyJS2/tree/harmony))

[2016-05-14 02:08] tommedema opened #40 "Using icons (e.g. font awesome)"
I've tried to use [react-fa](https://github.com/andreypopp/react-fa) by setting up the following loaders:

      {
        test: /\.css$/,
        include: /node_modules/,
        loaders: ['style-loader', 'css-loader'],
      },
      {
        test: /\.woff(2)?(\?v=[0-9]\.[0-9]\.[0-9])?$/,
        loader: 'url-loader?limit=10000&mimetype=application/font-woff'
      },
      {
        test: /\.(

[2016-05-16 14:34] jhen0409 commented on #40
The problem is same with https://github.com/jhen0409/react-chrome-extension-boilerplate/pull/37#issuecomment-217719393.

You need to add publicPath `chrome-extension://{extension-id}/` to production config, then set `web_accessible_resources` in `manifest.json`.

[2016-05-21 12:06] tommedema commented on #40
@jhen0409 about the second issue: how can I know the extension ID prior to building it? and what to set `web_accessible_resources` to?

[2016-05-25 17:11] jhen0409 commented on #40
This is a difficult problem, if not publish will not be determined id. I'm looking for a simple way to transform publicPath, made it can get extension id, maybe a Webpack plugin? I'll take the time to try.

Add you want allow access files to [this place](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/manifest.prod.json#L15), like .ttf file in production.

[2016-06-08 07:32] sangwonl opened #42 "Module not found: Error: Cannot resolve module 'webpack-hot-middleware/client'"
I see the below errors while `npm run dev`. It was because 'webpack-hot-middleware' package is missing. How about including that package in `package.json'?

ERROR in multi todoapp
Module not found: Error: Cannot resolve module 'webpack-hot-middleware/client' in /Users/sangwonl/Develops/others/react-chrome-extension-boilerplate
 @ multi todoapp

ERROR in multi background
Module not found: Error: Ca

[2016-06-08 07:53] sangwonl commented on #42
I added it.

[2016-06-08 16:59] #42 closed

[2016-06-27 03:03] jhen0409 commented on #40
Closed via #41, just set `__webpack_public_path__ ` dynamically at runtime in the entry point. Also let HMR works via https://github.com/glenjamin/webpack-hot-middleware/pull/109 (webpack-hot-middleware@^2.11.0).

[2016-06-27 03:03] #40 closed

[2016-07-04 04:48] manhhailua opened #44 "How can I add devtools.panel?"
I'm new to this repo so I'm now confusing with how to create a devtools.panel.

[2016-07-05 10:30] manhhailua opened #45 "Add bootstrap-loader problem"
I'm trying to add bootstrap to my chrome extension but I don't know how to integrate the "entry" of bootstrap loader to existent "entry" at "webpack/dev.config.js" and "webpack/prod.config.js".

[2016-07-06 17:41] jhen0409 commented on #45
For example, you can add it to [todoapp entry](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/webpack/dev.config.js#L12):

[code]

[2016-07-06 17:42] jhen0409 commented on #44
[Official guide](https://developer.chrome.com/extensions/devtools_panels) can be help you.

Also, you can reference to [redux-devtools-extension](https://github.com/zalmoxisus/redux-devtools-extension/tree/master/src/browser/extension), it would can be as a better example.

[2016-07-06 17:55] manhhailua commented on #44
I successful created a devtools panel :D but forgot to close this issue.
And, would you please consider making boilerplate for creating a devtools panel and adding a CSS framework?

[2016-07-06 18:03] manhhailua commented on #45
I'm using:
[code]
and everything is working nicely. Do this way make any differences?

[2016-07-08 03:25] manhhailua opened #46 "Error font url at development mode"
![error](http://i652.photobucket.com/albums/uu246/Manhhailua/Screen%20Shot%202016-07-08%20at%2010.19.35%20AM_zpsep6miwqh.png)
I use bootstrap-loader in my project and got this error.

[2016-07-08 10:19] #46 closed

[2016-07-08 10:20] jhen0409 commented on #46
Should fixed. Thanks for report! :)

[2016-07-08 10:51] manhhailua commented on #46
Awesome!

[2016-07-09 16:20] tommedema opened #47 "Cannot run dev on pages with special CSP"
When I navigate to URLs like https://github.com/ColdSauce/CosmosBrowserAndroid I see in my console:

[code]

The problem is that the extension's CSP has no influence on the react app, which is injected into the page using a content script. The react app becomes part of the injected website's scope, resulting in the use of the website's (in this case Github's) CSP.

Do you have any idea how to circ

[2016-07-11 19:08] jhen0409 commented on #47
This is why I already [removed HMR](https://github.com/jhen0409/react-chrome-extension-boilerplate/pull/41) in the injectpage (but todoapp iframe not).

[2016-08-04 21:47] Slapbox commented on #23
jhen0409, this is amazing. Do you still have plans to produce a minimal version?

[2016-09-15 22:53] brandonmp opened #48 "accessing `document` in React components"
I'd like to use the `inject.js` to scrape data from the DOM and pass it back to the background `redux store`.

Is that possible with the way the app is injected?

So far I have tried importing the `store` into `inject.js` and calling `dispatch`, but that doesn't work.

When I try to access `document` from within a React component, it only returns the DOM of the react component, not the page being

[2016-09-15 23:25] brandonmp commented on #16
Having some trouble getting hot reloading to work here. I've set the flag as @kenyeung128  suggested, and my address bar doesn't show any https issues, but getting errors described below. Welcoming any ideas--I don't need hot reloading, but the console spam is a pain.

1. `https://localhost` refuses connection, and `https://localhost:3000` "unexpectedly closed connection," so neither will load

2.

[2016-10-13 01:23] rubenpa opened #49 "ERR_FILE_NOT_FOUND for inject"
I am trying to work on the inject script, but I keep getting the error:

`chrome-extension://pheloakanjmafejdhjgcgfbcdlladodf/js/inject.bundle.js net::ERR_FILE_NOT_FOUND`

I haven't changed the inject.js at all other than changing the id for the extension, so am unsure of what the issue may be.  Any ideas?

Thanks

[2016-10-18 18:45] sammkj opened #50 "What does chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/inject.bundle.js') come from?"
Hello there! Thank you for creating this boilerplate. It has been tremendously useful to me! I'm trying to dig deep into the code and I found this:

[code]

in multiple files like `chrome/extension/background/inject.js` and jade templates under `/chrome/views`. I removed it and it didn't seem it's affecting anything. So is it safe to remove it?

[2016-10-18 19:10] jhen0409 commented on #50
Hey. :D It's inject script of `redux-devtools-extension`, if you have installed this would be useful, see https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/FAQ.md#how-to-include-it-in-chrome-apps-and-extensions.

[2016-10-19 01:56] sammkj commented on #50
Ah! Thanks for telling me.

[2016-10-19 01:56] #50 closed

[2016-10-19 09:18] zalmoxisus commented on #50
We could rename it to something more intuitive like `chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js`, but it would be a breaking change.

[2016-10-19 18:34] sammkj opened #51 "Unable to get RHL3 to work"
Hello,

I'm trying to upgrade this boilerplate to use Webpack2 and RHL3. Webpack2 is pretty stable now and `babel-preset-react-hmr` is no longer maintained. I was able to get Webpack2 up and running but failed to make RHL3 work. I keep getting this:

![image](https://cloud.githubusercontent.com/assets/9153498/19532263/fe569bce-9608-11e6-946b-0ee9cf9224d9.png)

If anyone has successfully intergrate

[2016-10-19 18:41] sammkj commented on #51
Ah! Found the culprit. Decorated components cannot be hot-loaded. See [279](https://github.com/gaearon/react-hot-loader/issues/279)

[2016-10-19 18:41] #51 closed

[2016-10-19 20:09] sammkj commented on #39
Have you done any work on this yet? I got Webpack 2 and RHL 3 working. I can submit a PR if you want.

[2016-10-20 00:48] sammkj commented on #48
You can use message passing to send the data to the store in your background redux store. [Here's a pretty cool lib](https://github.com/tshaddix/react-chrome-redux) to do that.

[2016-10-20 13:51] jhen0409 commented on #39
@sammkj, I'm waiting for webpack@2 to leave beta,  but PR is still welcome. :D

Also, I am considering using [babili](https://github.com/babel/babili) instead of UglifyJS, because uglify not yet supported ES2015+ syntax.

[2016-10-24 19:00] skyiea commented on #49
The issue is that `inject.bundle.js` doesn't exist within `.crx` file (that's where your path is linking). Assuming that you are using *dev*-build, this file should be available via `localhost:3000/js/`.

[2016-10-24 19:30] jhen0409 commented on #49
The `js/inject.bundle.js` should be inject by [background](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/inject.js#L10), and it's disallow access for production, if you want allow access for other pages, you should add `js/inject.bundle.js` to [`web_accessible_resources`](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/ma

[2016-10-24 19:30] #49 closed

[2016-10-25 08:07] psych0der opened #52 "Changes to backgound script [background.js] doesn't trigger hot reloading"
Unlike other files, changes made to background.js doesn't propagate automatically and requires manual reloading of the chrome extension. Any workaround?

[2016-10-25 08:51] jhen0409 commented on #52
Yes it doesn't, if you want background scripts to support Hot reload, you have to make more extra works, like [glenjamin/ultimate-hot-reloading-example](https://github.com/glenjamin/ultimate-hot-reloading-example) made Express server hot reload.

Also, a correctly behavior is automatically full-reload (see [webpack/replace/log-apply-result.js#L16-L18](https://github.com/jhen0409/react-chrome-exten

[2016-11-12 23:23] lightninglu10 opened #54 "Chrome extension doesn't work in dev mode"
Hey guys, I'm trying to run the chrome extension in dev mode.

I've done everything the instructions say, and everything works EXCEPT the todo app.

When I load the production version with npm run build, I get the todo app, but when I do npm run dev and load the dev folder, the todo app is blank.

Attaching images below. Any idea why?
<img width="512" alt="screen shot 2016-11-12 at 3 22 41 pm" src

[2016-11-13 08:26] lightninglu10 commented on #54
Also, unrelated but is there anyway to connect the inject.js through redux with the app components?  Getting stumped there. I want to pass data I'm getting through inject.js to the App.js components.

[2016-11-13 08:42] jhen0409 commented on #54
Hi @lightninglu10, thanks for report!

I'm found the problem, it looks related to redux-devtools-extension:

![2016-11-13 4 39 54](https://cloud.githubusercontent.com/assets/3001525/20244492/e07dc120-a9bf-11e6-9036-1cb704e33a5a.png)

/cc @zalmoxisus

[2016-11-13 08:59] lightninglu10 commented on #54
Is the solution for now to remove the redux-dev-tools portion?

[2016-11-13 09:11] jhen0409 commented on #54
You can remove [popup.pug#L12-L13](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/views/popup.pug#L12-L13) first (and [window](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/views/window.pug), [inject](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/views/inject.pug)), and check it work.

[2016-11-13 09:33] jhen0409 commented on #54
Ah, just my fault, I missing object [here](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/app/store/configureStore.dev.js#L9-L11), I'll fix it. 😂

[2016-11-13 09:36] #54 closed

[2016-11-13 09:39] lightninglu10 commented on #54
@jhen0409

Bringing this up again:

"Also, unrelated but is there anyway to connect the inject.js through redux with the app components? Getting stumped there. I want to pass data I'm getting through inject.js to the App.js components."

Would you know how to do this?

[2016-11-13 10:12] jhen0409 commented on #54
Currently the inject page used iframe for CSS isolation, but pass data to App container will be difficult (may use postMessage of iframe or background), so it's not a good example.

Actually I'm Investigating [ReactShadow](https://github.com/Wildhoney/ReactShadow) to replace iframe, just not enough time.

[2016-11-14 22:10] lightninglu10 commented on #54
If I don't care for CSS isolation, can I just import the component directly into the inject page?

[2016-11-15 21:14] jhen0409 commented on #54
@lightninglu10 yeah, just replace [here](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/inject.js#L27-L35).

[2016-12-16 15:54] teckays opened #56 "Handle inject page on extension icon click"
Is there a way to trigger `Dock` opening on extension icon click event?

[2016-12-16 21:12] dopeboy opened #57 "Loading images from inject.js"
Thanks for creating this extension. It is tremendously helpful.

I am trying to inject a picture into a page from chrome/extension/inject.js. I have installed the file-loader webpack plugin. Then in inject.js, I have the following code in my render():

``
<img src={require('../assets/img/picture.png')} />
``

In my manifest file, I have included:

``
...
"web_accessible_resources": ["inject.hmtl",

[2016-12-31 20:20] rvenugopal opened #58 "Unable to update styling"
Hi

When I run "npm run dev" or modify any of the css files, I get the following message on the console "_PostCSS Config could not be loaded. Please check your PostCSS Config._"

Thanks
RV

[2017-01-01 07:45] #58 closed

[2017-01-01 07:57] jhen0409 commented on #57
@dopeboy could you provide your webpack config?

If you're using `file-loader`, the image file should extract to `js/` folder with `{hash}.png` as name.

[2017-01-01 08:08] jhen0409 commented on #56
You can listen [browser action](https://developer.chrome.com/extensions/browserAction) and execute script in the tab via background page. ([inject script in background page](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/inject.js#L28))

[2017-01-10 14:23] wolendranh opened #60 "Replace deprecated babel-preset-react-hmre"
Currently it looks like [babel-preset-react-hmre ](https://github.com/danmartinez101/babel-preset-react-hmre) is being deprecated. Maybe it make sense to investigate and replace it?

[2017-01-14 23:16] xinghengwang opened #61 "Question... how to configure "web_accessible_resources" for js files?"
**Background:**

I am trying to inject a script via script tag. The normal injection run by current bioler plate is to excuted still under the contentscript context, beucase it uses chome.tabs.executeScript()...

The reason I need the scrip tag to inject the code is named in that Stockoverflow page below: Since scripts injected under a script tag (by contentscript) have access to some resources th

[2017-01-14 23:50] xinghengwang commented on #61
bit more context:
when I
[code]
and load the production version into the extension.
myfile.bundle.js is loaded fine, chrome doesn't deny loading it, since myfile.bundle.js is registered properly as web_accessible_resources.

However, webpack seems to inserted some code into myfile.bundle.js.

[code]
so it fails at above step in customPublicPath. and it make sense, when a script is injected as a sc

[2017-01-15 09:14] jhen0409 commented on #61
Hi @xinghengwang.

In dev mode, you should use `http://localhost:3000/js/myfile.bundle.js` instead of `chrome.extension.getURL('js/myfile.bundle.js')`, this is why you successfully load it in production, but development not.

Yeah If you have such a use case, you should remove `customPath`.

[2017-01-15 09:23] jhen0409 commented on #60
Yeah we may migrate to [RHL v3](https://github.com/gaearon/react-hot-loader/tree/next), it also related to #39. I haven't yet to use it because [some bugs](https://github.com/gaearon/react-hot-loader/issues) blocked me on other projects, so I still not start to do it here, but PR here is welcome.

[2017-01-16 22:12] xinghengwang commented on #61
thanks. that works for dev environment.

[2017-01-16 22:12] #61 closed

[2017-02-18 15:15] johnrosenbaud11 opened #62 "cannot GET"
Hello there, I installed the boilerplate and it works, rendering the toDoApp, however, when I open a tab on port 3000, it says Cannot GET / :

![image](https://cloud.githubusercontent.com/assets/25225045/23094206/b67cfa40-f5c2-11e6-968e-58a2530cc74c.png)

this is terminal webpack output:

![image](https://cloud.githubusercontent.com/assets/25225045/23094212/cd55dfca-f5c2-11e6-8da5-c65a59ff7599.png

[2017-02-23 18:14] jhen0409 commented on #62
It's expected, the dev server just provides `http://localhost:3000/js/*.bundle.js` for the [extension usage](https://github.com/jhen0409/react-chrome-extension-boilerplate#examples) on development mode.

[2017-02-23 18:14] #62 closed

[2017-02-24 21:34] johnrosenbaud11 commented on #62
Thanks a lot. I am trying to add a  ` chrome.runtime.onMessage.addListener()` in background.js, I placed everywhere in the page but does not work, do you have any tips on where specifically should be placed?

[2017-02-27 13:13] johnrosenbaud11 opened #63 "inject.js how to include css?"
I can't seem to be able to add css to inject.js (the file containing injectApp) in any way, how to import/require/<link>?

Thank you!

[2017-02-28 19:23] Axure opened #64 "`inject.js` is actually redundant."
There is actually no content script injected I think. No such field in `manifest.json`, and the bundle file is not actually written to disk.

[2017-03-01 14:10] jhen0409 commented on #63
You can try [`chrome.tabs.executeScript`](https://developer.chrome.com/extensions/tabs#method-executeScript) like [inject bundle usage](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/inject.js#L12), it can also load css file.

[2017-03-01 14:19] jhen0409 commented on #64
Duo to I want to load inject bundle from webpack dev server, so we do that in the [background script](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/inject.js) (production also), so no content scripts in the `manifest.json`. You can see the bundle file with `npm run build`.

[2017-03-01 14:28] jhen0409 opened #65 "Use remote version React / Redux DevTools"
* [Standalone react-devtools app](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools) with [`connectToDevTools`](https://github.com/facebook/react-devtools/tree/master/packages/react-devtools-core#requirereact-devtools-coreconnecttodevtoolsoptions)
* [remote-redux-devtools](https://github.com/zalmoxisus/remote-redux-devtools) - due to https://github.com/zalmoxisus/cross

[2017-03-16 02:42] johnrosenbaud11 opened #67 "allow extension for all urls?"
I am trying to allow the extension to work on all websites.

I modified the manifest.json (including the dev version) adding necessary permissions:
`"permissions": [ "contextMenus", "management", "tabs", "storage", "https://*/*", "<all_urls>" ],`

but it doesn't help, it won't work. Apparently it only works on github, and the matter is dealt with by this variable, which, would only work for github

[2017-03-30 11:57] yuejiaozhs commented on #64
Can "inject.bundle.js" be used directly? quite new about Chrome Extension and webpack, I tried many times but cannot insert TodoApp in existing webpage.

[2017-03-31 14:58] altany opened #68 "Same store, different root"
I added an extra view for the new tab and it works great! Also, I updated the popup view to render a form for adding a new item to the list. All works great but I still need to refresh the new tab window to see the new item.

What I would like to do is have the new item show automatically in the new tab list when I add it via the popup.
Does anyone know if I can make it work without refresh?

For

[2017-04-03 02:28] nickweinberg commented on #67
I did this:
[code]

[2017-04-22 12:18] stephanebruckert opened #69 "Misplaced elements at first display"
After a simple click on the extension icon, the elements inside the popup are all displayed in a messy order, until I start using it by clicking anywhere in the popup.

The weird thing is that I took a screenshot and all seems fine on it!

Just wanted to know if you see what I mean (if it happens, it's quite obvious to notice)?

On Mac and my Chrome is up-to-date.

[2017-04-28 10:32] thundergolfer commented on #69
I installed and started it up today on Mac OSX Sierra with up-to-date Chrome and experienced the same issue.

[2017-05-03 14:40] awwester opened #70 "inject.js not working on fresh install"
Great boilerplate project, really helps get of the ground running for someone new to extensions.

I have the popup working fine but am having issues with the inject portion on github.

In the docs it states simply:
"The inject script is being run by chrome/extension/background/inject.js. A simple example will be inject bottom of page(https://github.com/*) if you visit."

I would think that if my p

[2017-05-03 14:47] awwester commented on #70
Just noticed too when I go into chrome://extensions and inspect views > background.html I'm seeing a CORS error with inject.js

[code]

[2017-05-03 15:28] jhen0409 commented on #70
Fixed in https://github.com/jhen0409/react-chrome-extension-boilerplate/commit/c58130bfe6465fef280db6cfc23365e5e9c6d276, thanks for report! 👍

[2017-05-03 15:28] #70 closed

[2017-06-11 10:56] zzacharo opened #71 "popup: How can I define a popup.html for the extension?"
How can I use a popup react page and communicate with chrome messages with my inject script?

[2017-06-24 17:46] tcr-nyt commented on #67
@nickweinberg Do you think you could expand on this? Not sure what this code does, and would really like to know the reasoning behind it!

[2017-07-09 02:49] HaveF opened #72 "`yarn run dev`, Module build failed: SyntaxError: Unexpected token"
Hi, Jhen-Jie Hong :-)

`yarn run dev`

[code]

node --version
v8.1.3
npm --version
5.0.3

Have any idea? thanks!

[2017-07-09 05:08] HaveF commented on #72
totally fine with clean clone and `npm install`, strange!

[2017-07-09 05:08] #72 closed

[2017-07-10 22:28] Dottenpixel opened #73 "How would I add a content script?"
I have a need to manipulate the DOM in my extension and need a content script, but not sure how that fits in this structure

[2017-07-15 04:55] pdornier commented on #63
@johnrosenbaud11 @jhen0409 Any chance you could provide a specific example of how this could be done? I'm trying to add jQuery and a css file into my injected content but having trouble figuring out how to do so.

[2017-08-16 10:23] 10S10 opened #74 "How to use content.js script and popup.js in this architecture ??"
I have file for content.js which is actually contains Whole UI of the Extension.
This is Code Snippet

Another File is popup.js .
If I write the following code in my popup.js file then Chrome console gives me error as
Failed to load resource: the server responded with a status of 404 (Not Found) popup.bundle.js

Following code I am including in popup.js

My issue is I actually don't get what shoul

[2017-08-21 08:29] #74 closed

[2017-08-21 08:34] 10S10 commented on #73
@Dottenpixel  I had facing same issue as you.

But Solution is here.
add
content.pug.
content.js
and Reference this  .js file in to .pug file same as popup.js .
Also don't forgot to mention content.js file in to menifest.dev.js -> entry point.

If you are not mention right path then you will not get the .html file.

All you need to just make content.js same way as popup.js.

[2017-08-21 08:43] jhen0409 commented on #73
We used [`chrome.tabs.executeScript`](https://developer.chrome.com/extensions/tabs#method-executeScript) instead of defined content script because we can't define the content script in development mode. See also: [`chrome/extension/background/inject.js`](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/inject.js).

[2017-08-21 08:43] #73 closed

[2017-08-21 08:56] jhen0409 commented on #67
Yeah you can modify [`chrome/extension/background/inject.js`](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/inject.js#L33-L36).

[2017-08-21 08:56] #67 closed

[2017-08-21 08:57] #64 closed

[2017-08-24 22:39] Dottenpixel opened #75 "Using Redux DevTools inside extensions is deprecated"
Noticed this in my console today:
`Using Redux DevTools inside extensions is deprecated and won't be supported in the next major version. Please use https://github.com/zalmoxisus/remote-redux-devtools instead.`

[2017-08-26 08:39] jhen0409 commented on #75
https://github.com/zalmoxisus/redux-devtools-extension/issues/335 will explain this, we may revert it or do #65 in the future.

[2017-08-28 22:17] evangow opened #76 "Use with semantic-ui-react"
While the below refers to semantic-ui, I would guess the same problem occurs with other ui frameworks.

Installed the boilerplate
[code]

Installed semantic ui from https://react.semantic-ui.com/usage
[code]

Imported semantic css inside /app/containers/Root.js
`import 'semantic-ui-css/semantic.min.css';`

I then get the following errors
[code]

Trying to solve this, I then installed file-loader a

[2017-09-05 12:21] HaveF commented on #76
@evangow you can put css file to `chrome/assets/` directly, and use it in `xxx.pug` file directly. it is the easiest way.

[2017-09-05 12:24] HaveF commented on #71
it has no relation with this repo :-) see doc of chrome, `chrome.runtime.sendMessage` things, I can not remember exactly.

[2017-09-05 12:27] HaveF commented on #69
I do suppose it maybe load page, css things, and render finally.

[2017-09-05 19:37] hakunin opened #77 "Add messaging example"
Hi,
I've been trying to add messaging from the injected script to a dev panel aaaaand the learning curve is pretty steep.

It might be a great addition to add messaging, since I've seen people struggling with it on stack overflow as well.

I haven't been able to pass a message from injected script yet.

[2017-09-08 23:43] GregoryTravis opened #78 "Still getting ERR_INSECURE_RESPONSE"
I followed the directions and enabled the flag at chrome://flags/#allow-insecure-localhost.  But I still get this error when loading the page:

redux-devtools-extension.js Failed to load resource: net::ERR_FAILED
todoapp.bundle.js Failed to load resource: net::ERR_INSECURE_RESPONSE

[2017-09-09 12:10] stephanebruckert commented on #69
This looks fixed on my side. I can't reproduce it with and up-to-date Chrome. Built with stable Node

[2017-09-09 12:10] #69 closed

[2017-09-30 07:03] zzz6519003 opened #79 "Any interest on making a vue one for it?"
🍺

[2017-10-07 05:38] yiziz commented on #56
@jhen0409 I am trying to do this also.  Can you please provide an example?

I tried this, but it is not working:

[code]

[2017-10-07 21:56] jackmallers opened #80 "Question: Support for URI scheme"
I would like to register a URI scheme like `example://encoded_data` and when clicked my chrome extension opens.

I did some initial research and did not find a clear answer, curious if anyone here has any ideas?

Thanks

[2017-10-18 14:01] conanbatt opened #81 "Clean clone compress does not work: '../build/manifest.json' not found."
- Clone project
- npm install
- npm run build
- npm run compress

Upon inspecting, the promise fails when the crx dependency cant resolve the manifest.json within the build folder, even though the file exists.

[2017-10-19 18:04] #16 closed

[2017-10-20 04:24] doityourselfcoding commented on #81
I had the same error when i tried to load the root into chrome, when i should have just done the dev folder.

[2017-10-26 05:26] nyilmaz opened #82 "Upgrade to webpack 2"
Would you consider upgrading project to webpack 2? Or I am planning to prepare a PR about this if you are willing to review. Let us know please.

[2017-10-31 13:24] awwester opened #83 "can't build extension properly"
Everything in my extension is working locally when the files are hosted on localhost:3000 using `npm run dev`. I'm at a point now where I need to build the extension and deploy it.

When running `npm run build`, it builds the project into the build folder but when trying to run it packed or unpacked I get the error

`Hot Module replacement API enabled. You should disable react-transform-hmr in pro

[2017-11-03 09:10] veebuv opened #84 "Make API/Fetch Request"
I can't seem to make any form of API calls with this extension

Keep getting this error

Error: Network Error
    at createError (eval at <anonymous> (localhost:3000/js/todoapp.bundle.js:3567), <anonymous>:16:15)
    at XMLHttpRequest.handleError (eval at <anonymous> (localhost:3000/js/todoapp.bundle.js:3555), <anonymous>:88:14)

Any help would be really really appreciated

[2017-11-04 15:44] jgf5013 commented on #81
I installed path and changed the crx.load call in compress.js to this:
`crx.load(path.join(__dirname, '../build'))`

Also added some console logs and try/catches to see what is the script is actually doing.

Hope it helps!

[2017-11-10 04:46] jhen0409 commented on #82
Yeah I'll review for any PRs, thanks!

[2017-11-15 10:14] hobofan commented on #77
What part were you struggling with?

The example at https://developer.chrome.com/extensions/messaging works without problems for me.

-----

Place at the bottom of [extension/background/inject.js](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/46c5ed03f2745b319069eb927fbdfafeff5fb764/chrome/extension/background/inject.js):
[code]

In a React component, e.g. the constructor of

[2017-11-15 10:23] hakunin commented on #77
Thanks, I've been able to find a way to do it after a week of researching the topic on stackoverflow.

[2017-11-15 10:23] #77 closed

[2017-11-19 21:48] rrfaria commented on #82
The better is not to upgrade to webpack 3 ?

[2017-11-23 01:02] rrfaria opened #88 "Upgrade Webpack 3 and dependences - Started"
I did the upgrade to webpack 3 in some parts but the css is not loading in the extension

look what I did:
package.json
`
{
  "name": "react-chrome-extension-boilerplate",
  "version": "0.9.0",
  "description": "Boilerplate for Chrome extension React.js project",
  "scripts": {
    "dev": "node scripts/dev",
    "build": "node scripts/build",
    "compress": "node scripts/compress",
    "compress-

[2017-12-01 23:08] BjornMelgaard commented on #88
check https://github.com/BjornMelgaard/react-chrome-extension-boilerplate

[2017-12-11 19:37] Pruxis commented on #83
I had the same issue, and I deleted the query: react-hmr and copy pasted the postCSS config inside the production config for webpack.

Thanks for saying that I have to set my NODE_ENV by this I solved my issue, good luck with yours :P

[2017-12-12 12:10] awwester commented on #83
As your comment helped me realize I was updating my development webpack file instead of the production... Thanks.

[2017-12-12 12:10] #83 closed

[2017-12-13 23:02] dvdschwrtz commented on #88
@BjornMelgaard great work. I don't want the auth setup so it is giving me problems when I try to remove that and I would rather avoid digging through all the changes you made. Is anyone working on upgrading the base version to webpack 3? I noticed the comments above from @rrfaria - did you get it working?

[2017-12-13 23:14] dvdschwrtz commented on #88
@BjornMelgaard Ok, after a small break and some focus, I got it working after taking auth out but the css is not yet working correctly. I will keep going with this unless someone has a better version.

[2017-12-14 20:15] dvdschwrtz commented on #88
For the upgrade to webpack 3, I have a couple of questinos about the current configuration. Why is the inject script hot reloading turned off? Is this because of the iframe? Also, I am not familiar with the hot reloading internals or changes since webpack 1. Do we still need the replace folder with webpack/replace/JsonpMainTemplate.runtime.js and webpack/replace/process-update.js. If so, will thes

[2018-01-08 17:41] pavitran opened #89 "Does the store data persist?"

[2018-01-12 18:51] esrefozguraltuntas opened #90 "How to use inject.html"
I could not open inject.html, every time popup.html is opening when I open https://github.com. What should I change on manifest.dev.json to open inject.html

Regard

[2018-01-12 18:54] esrefozguraltuntas commented on #90
I used this manifest.dev.json as is

{
  "version": "0.0.0",
  "name": "react-chrome-extension-example",
  "manifest_version": 2,
  "description": "Example for react-chrome-extension-boilerplate",
  "browser_action": {
    "default_title": "React Chrome Extension Example",
    "default_popup": "popup.html"
  },
  "icons": {
    "16": "img/icon-16.png",
    "48": "img/icon-48.png",
    "128": "img/

[2018-01-12 19:56] esrefozguraltuntas commented on #90
I ve got it, just see button on https://github.com/*

[2018-01-13 01:16] esrefozguraltuntas opened #91 "How to call inject.html from browser action onclick"
I could not extend popup.html page. I need to big page than popup.html.
What I was thinking, if I call inject.html from button on browser action, Maybe it can be solved but I could not open it.

Could you help me How I can solve this issue

[2018-02-03 15:24] jhen0409 commented on #82
Closed via #92, we have upgraded to webpack 3.

[2018-02-03 15:24] #82 closed

[2018-02-15 00:17] Brantron opened #93 "Unable to run a fresh install"
On a fresh install of this repo, I got this when running the local dev setup
<img width="1437" alt="screen shot 2018-02-14 at 7 13 03 pm" src="https://user-images.githubusercontent.com/3149916/36234906-a4e879ba-11bb-11e8-9e05-1f27c43c8357.png">
<img width="567" alt="screen shot 2018-02-14 at 7 12 44 pm" src="https://user-images.githubusercontent.com/3149916/36234907-a4f39304-11bb-11e8-91b7-06b8173

[2018-02-15 01:05] Brantron commented on #93
Nevermind! It works now lol

[2018-02-15 01:07] #93 closed, assigned to nobody

[2018-03-08 23:40] dguo commented on #84
Based on the `eval`s in the error message, it might have been due to [Chrome disabling eval by default](https://developer.chrome.com/extensions/contentSecurityPolicy#JSEval).

[2018-03-13 09:25] GoChartingAdmin opened #94 "Please suggest a clean way to load bootstrap"
I did the following:
1. Added bootstrap and url-loader to package.json
2. Changed webpack config to load halflings fonts
[code]
And now I am getting a content security policy error related to  fonts.

I have following in my manifest.json file

` "content_security_policy": "default-src 'self'; script-src 'self' http://localhost:3000 'unsafe-eval'; connect-src http://localhost:3000; style-src * 'uns

[2018-03-15 16:32] cosst commented on #56
@teckays @yiziz Did either of you ever get this to work properly? Same problem here and can't figure it out.

With your implementation @yiziz I do indeed see the `load inject bundle success!` message in the console upon clicking the extension icon, but the dock does not appear nor does it seem to actually affect the page at all.

[2018-03-16 10:57] rrfaria commented on #88
This one has webpack 3 configuration
https://github.com/ayastreb/bandwidth-hero

maybe we can analyse and use those webpack setups

[2018-03-19 16:29] cosst commented on #56
@jhen0409 Perhaps you'd be willing to elaborate? What @yiziz posted doesn't seem to work. Thanks!

[2018-04-18 21:53] rrfaria commented on #88
this one is a very good upgrade

https://github.com/wkw/react-chrome-extension-boilerplate

but now I have to know how to upgrade to react 16 and webpack 4.6

[2018-06-03 15:31] zivl opened #95 "why using an iframe when in "inject" mode?"
When I'm using *inject* mode I see there's a `iframe` that is responsible for loading the `bundle.js` file. Why can't I import the `<Root />` (or something similar...) and use it inside `<Dock>` component?

It adds a lot of headaches to use iframe for modules I have locally... all communication between the tabs and iframe need to go through `postMessage` and etc.

Cheers,

[2018-06-09 14:52] cihadturhan opened #96 "Submission Rejected - Contains minified or obfuscated code"
Hello,

Today I submitted my extension to Chrome Web Store. But they respond me with the following:

package as you can. If some of your app's logic is hidden and it appears to
be suspicious, we may remove it. During the course of a review, your item
was found to be suspicious and has one or more file(s) that contain
minified or obfuscated code which is not human readable.

Do you submit with dev

[2018-06-15 14:34] zabka229 commented on #96
Did you solved the problem?

[2018-06-15 14:43] cihadturhan commented on #96
I solved it by disabling uglfy feature on webpack dist config. After that, they accepted the extension. It’s very strange that there are plenty of extensions with minified code.
I’m on mobile so pardon for any typos.

[2018-06-15 14:54] zabka229 commented on #96
Did your bundle size increased a lot? :)

[2018-06-24 21:31] nzhtrtlc opened #97 "How to inject React App inside of web page ?"
Hi, i want add react components inside the we page. For example; in GitHub issues page i want to add extra button inside the page. How do i do that ?

[2018-06-27 04:50] cihadturhan commented on #96
Hey @zabka229 I just saw your comment. It definitely increases ~300kb or more depending on your package.json. But that’s not a problem as chrome extension comes bundled and doesn’t load the file from any server.

[2018-07-15 10:34] yjiq150 commented on #95
Check this out. You can run React component without iframe.
https://github.com/yjiq150/react-chrome-extension-boilerplate

I just made a PR for the same problem today here.
https://github.com/jhen0409/react-chrome-extension-boilerplate/pull/98

[2018-07-15 10:37] yjiq150 commented on #88
Check this out. I updated it to use React 16/Webpack 4
https://github.com/yjiq150/react-chrome-extension-boilerplate

I just made a PR for the same problem today here.
https://github.com/jhen0409/react-chrome-extension-boilerplate/pull/98

[2018-07-17 11:18] zivl commented on #95
@yjiq150 can you explain here in a few words why/how did you walk-around it? why upgrading webpack solved this issue?

[2018-07-17 14:24] yjiq150 commented on #95
Actually it not related to webpack version. I bumped up the version while fixing inject problem.

To inject react component into the context of page, please refer here. I added some notes in there.

https://github.com/yjiq150/react-chrome-extension-boilerplate/blob/master/chrome/extension/content.js

[2018-09-20 17:05] ianoti commented on #56
@jhen0409 did you manage to resolve this? I tried it and I'm getting an error of
chrome.runtime.lastError of `{message: "Could not establish connection. Receiving end does not exist."}`

[2019-03-12 18:25] fxnoob commented on #97
I've created a boilerplate in which you can do this .
[https://github.com/fxnoob/chrome-extension-boilerplate](https://github.com/fxnoob/chrome-extension-boilerplate)

[2019-03-29 10:08] ghost opened #99 "How to add semantic config in the webpack config?"
i have config like this in webpack
[code]

[2019-03-29 10:11] ghost commented on #99
![image](https://user-images.githubusercontent.com/32693625/55225649-af5f7300-5245-11e9-952b-e7a2489526fa.png)

[2019-03-29 10:13] ghost commented on #76
some issue, any suggestion for this problem?

[2019-04-19 04:53] belarusrulez opened #100 "Debug question."
Hello.
I am not getting how to debug extension?
Should I just debug the same code separately as application or there is a way how to debug as extension?

[2019-05-22 04:48] birdycn opened #101 "What does inject and windos. HTML do in the views directory?"
I noticed :The inject script is being run by chrome/extension/background/inject.js
?
So what does inject and windos. HTML do in the views directory

[2019-05-22 04:52] birdycn commented on #101
and what the window.html do?

[2019-07-12 11:38] HuangZurong commented on #73
![image](https://user-images.githubusercontent.com/1995132/61125486-8b662b80-a4dc-11e9-90b5-5d97360a36b8.png)
![image](https://user-images.githubusercontent.com/1995132/61125517-9caf3800-a4dc-11e9-85d5-615115319adb.png)

[2019-08-29 08:12] createbuildship commented on #67
I got stuck as this did not work for me

[2019-11-16 19:11] e1jo commented on #67
try to add this on background.js (i pass empty object and this helped me)

  `chrome.runtime.onInstalled.addListener(function () {
        chrome.declarativeContent.onPageChanged.removeRules(undefined, function () {
            chrome.declarativeContent.onPageChanged.addRules([{
                conditions: [new chrome.declarativeContent.PageStateMatcher({})],
                actions: [new chrome.d

[2020-02-02 03:32] guanpengchn commented on #63
@jhen0409 can you give an example?

[2020-02-24 09:49] piavgh commented on #96
@cihadturhan : Hi, your post is from 2018. Do you have any problem with this issue since then?

I plan to create my extension, and I'm considering some boilerplates (React). Not sure if using React boilerplate causes me any trouble in the future, because I don't want to spend time building an extension and get rejected when I want to submit it to the store.

Another question: I see that this repos

[2020-02-24 10:39] cihadturhan commented on #96
@piavgh I had no problems since then. To be honest, I didn't add new features for a while.
See the extension: https://chrome.google.com/webstore/detail/clipboard-paste-anywhere/pbmkobomelmhlgfbfjohpblialcopjco?hl=en-US

[2020-03-20 17:52] jeenhyung opened #103 "To modify file the badge.js"
Original source code:
[LINK](https://github.com/jhen0409/react-chrome-extension-boilerplate/blob/master/chrome/extension/background/badge.js)
[code]

to

[code]

[2020-03-31 05:20] abhijithvijayan opened #104 "Alternative: with optional support for React & TypeScript"
This seems to be deprecated. So I suggest an alternative.

Source: https://github.com/abhijithvijayan/web-extension-starter

Supports
- html/sass/javascript
- react/sass/typescript

Browsers
- chrome
- firefox
- edge(chromium based)
- opera
- yandex
- brave
- vivaldi

[2020-04-06 14:27] TheSimpleZ opened #105 "Redux dev tool error when using dev mode"
Hello!
I just cloned and ran this repo. I noticed that i'm getting this error whenever i use the extension:

[code]

Any idea why this is happening?

[2020-05-10 15:00] devlab02 commented on #105
@TheSimpleZ

Modify your manifest.dev.json
Add `chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd` to "content_security_policy" under `script-src`

[2020-06-11 15:35] palashkaria commented on #56
I use this method
content.js

background.js
[code]

[code]

[2021-04-19 18:42] salikadave commented on #79
https://github.com/mubaidr/vue-chrome-extension-boilerplate

Check this out.

[2021-08-11 07:34] #79 closed

[2022-01-11 17:37] thebpmgroup commented on #105
How does this work for manifest v3?